.header{
    height: 80px;
    background-color: white;

}
.navegacao{
    display: flex;
    flex-direction: row; 
    justify-content: flex-end; 
    margin: auto;
}
h1{
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    margin: 0px 0px 0px 45px;
}
img{
    display: flex;
    justify-content: center;
    margin: 0px 0px 0px 15px;
}
a{
    margin: 0px 25px 0px 0px;
    font-weight: 450;
    text-decoration: none;
    color: #0091F7;
}
.botao{
    border-radius: 5px;
    width: 100px;
    height: 30px;
    background-color: #7d32d3;
    color: white;
}
