form{
    display: flex;
    flex-direction: column;
}
.cadastro{
    margin: 7px;
    color: white;
    border-radius: 5px;
    width: 100px;
    height: 30px;
    background-color: #7d32d3;
    color: white;
    cursor: pointer;
}
.botaofechar{
    width: 90px;
    height: 30px;
    border-color: #7d32d3;
    background-color: white;
    color: #7d32d3;
    font-weight: 400;
    border-radius: 5px;
    cursor: pointer;
}
.titulo{
    font-size: 1.5rem;
    font-weight: 400;
    color: #300066;
    margin: auto;
    padding: 25px; 
}
.modal-footer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}