.title{
    font-size: 3rem;
    font-weight: 400;
    line-height: 1.2;
    margin: 30px auto;
    display: flex;
    color:#300066;
}
.subtitle{
    font-size: 1.5rem;
    font-weight: 400;
    color: #300066;
    margin: auto;
}
p{
    font-weight: 200;
}
.home{
    width: 95%;
    display: flex;
    margin:30px auto;
    flex-direction: column;
    padding-bottom: 50px;
}

table{
    width: 100%;
}
.cabecalho{
    background-color: #7d32d3;
    color: white;
    font-size: 1rem;
    margin: auto;
    justify-content: center;
    flex-direction:row;
}
.animation{
    font-size: 1.1;
    color: #7d32d3;
    width:"60%";
     direction:right ;
}
.container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap(default);
    justify-content: space-between;
}
.card{
    max-width: 500px;
    display: flex;
    align-items: center;
    margin: 15px;
    border-bottom:20px lightgreen;;
    background-color: lightgreen;   
}
.conteudo{
    font-size: 1.1rem;
    color: black;
    font-weight: 250;
}
#char{
   display: flex;
   margin: auto;
   justify-content: center;
   width: 600px; 
}


